/*men*/
*{
    box-sizing: border-box;
}

#container{
    display: flex;
}
#main{
    width:100%;
}

.move:hover{
    border: 2px white solid;
    
}
.move a:hover{
    color: black;
}
.tc p{ 
    font-size: 16px;
    line-height: 26px;
}
#title{
    margin: 4%;
    height: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    font-weight: 900;
    font-size: small;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:95%;
    margin-left: 2%;
    margin-top: 1%;
    
}
.product-card{
    width:17%;
    height:350px;
    background-color: white;
    box-shadow: 3px 3px 6px black  ;
    border-radius: 20px;
    overflow: hidden;
}
.product-img{
height: 55%;
width: 100%;
border-radius:20px 20px 0 0 ;
}
.product-title{
    margin-left: 6%;
    color: grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.product-desc{
    margin-left: 6%;
    font-size: 13px;
    margin-top: 3%;
    line-height: 18px;
    width:90%
}
.input{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 6%;
    margin-top: 3%;
}
.custom-select{
    width: 80px;
}
.price{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-left: 10%;
    justify-content: space-between;
    align-items: center;
    margin-top: 6%;
}
.price h4{
    color: grey;
}
.addtocart-btn{
    height:30px;
    width:125px;
    display: flex;
    gap:5px;
    align-items: center;
    background-color:transparent ;
    border: none;
    border-radius: 2px;
}
.addtocart-btn:hover{
    border:2px solid black;
    border-radius: 5px;
}
.add-icon{
    height: 90%;
    width: 20%;
}
#cart-item-count {
    position: absolute;
    background-color: aqua;
    color: rgb(77, 75, 75);
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    margin-top: -10px;
    margin-left: -5px;
}
.del{
    height:20px;
    width: 20px;
    cursor: pointer;
    margin-top: 85px;
    margin-right: 50px;
    padding-top: 0 20px;
    
}